<div id="main">
    <!-- banner slider Start Here -->
    <section class="rev_slider_wrapper slider-third">
        <div class="rev_slider banner-slider">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="500">
                    <!-- MAIN IMAGE -->
                    <img src="./uploads/<%= records[6].image[0].filename %>" alt="banner" data-bgfit="cover"
                         data-bgposition="center 36%" data-bgrepeat="no-repeat">

                    <div
                            data-endspeed="800"
                            data-easing="easeOutCirc"
                            data-start="800"
                            data-speed="700"
                            data-y="180"
                            data-x="152"
                            class="tp-caption sft banner-heading">
                        <h2> Start Putting Smile on African’s Face With No-profit Organization</h2>
                    </div>

                    <div
                            data-endspeed="1200"
                            data-easing="easeOutCirc"
                            data-start="1200"
                            data-speed="700"
                            data-y="376"
                            data-x="152"
                            class="tp-caption sft read-more-btn">
                        <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">read
                            more</a>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="500">
                    <!-- MAIN IMAGE -->
                    <img src="./uploads/<%= records[0].image[0].filename %>" alt="banner" data-bgfit="cover"
                         data-bgposition="center 36%" data-bgrepeat="no-repeat">


                    <div
                            data-endspeed="800"
                            data-easing="easeOutCirc"
                            data-start="800"
                            data-speed="700"
                            data-y="180"
                            data-x="152"
                            class="tp-caption sft banner-heading">
                        <h2> Take Next Step To Educate Underprivileged Children</h2>
                    </div>

                    <div
                            data-endspeed="1200"
                            data-easing="easeOutCirc"
                            data-start="1200"
                            data-speed="700"
                            data-y="376"
                            data-x="152"
                            class="tp-caption sft read-more-btn">
                        <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">read
                            more</a>
                    </div>

                </li>
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="500">
                    <!-- MAIN IMAGE -->
                    <img src="./uploads/<%= records[3].image[0].filename %>" alt="banner" data-bgfit="cover"
                         data-bgposition="center 36%" data-bgrepeat="no-repeat">

                    <div
                            data-endspeed="800"
                            data-easing="easeOutCirc"
                            data-start="800"
                            data-speed="700"
                            data-y="180"
                            data-x="152"
                            class="tp-caption sft banner-heading">
                        <h2> Give Your Contribution &amp; Support NGOs/Charitable Trust</h2>
                    </div>

                    <div
                            data-endspeed="1200"
                            data-easing="easeOutCirc"
                            data-start="1200"
                            data-speed="700"
                            data-y="376"
                            data-x="152"
                            class="tp-caption sft read-more-btn">
                        <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">read
                            more</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- banner slider End Here -->
    <!-- Our Causes Section Start Here-->
    <section class="our-causes our-causes-section our-causes3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <header class="page-header section-header">
                        <h2>Help multifarious people with your little donation.<strong> Go Through Our Causes</strong>
                        </h2>
                        <span>Lorem ipsum dolor sit consectetur adipiscing elit ellentesque. Future stuffs also goes </span>
                    </header>
                    <div class="row">
                        <div class="col-xs-12 col-md-4 item-wrapper">
                            <div class="items zoom">
                                <a href="#" class="img-thumb">
                                    <figure>
                                        <img src="./uploads/<%= records[10].image[0].filename %>" alt="">
                                    </figure>
                                </a>
                                <div class="item-content">
                                    <h3>Help African Children Get Their Own Homes</h3>
                                    <span class="donation">Donation : <span
                                                class="value">$78,354 / $1,26,500</span></span>
                                    <div class="progress-bar-section">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="35"
                                                 aria-valuemin="0" aria-valuemax="100" style="width:35%;"></div>
                                        </div>
                                        <span class="progress-value-number">35%</span>
                                    </div>
                                    <p>Improve living style of people, who are affected by several health issues &
                                        poverty and unable to come out this situation. </p>
                                    <a data-toggle="modal" href="external.html" data-target=".donate-form"
                                       class="btn btn-default">donate now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 item-wrapper">
                            <div class="items zoom">
                                <a href="#" class="img-thumb">
                                    <figure>
                                        <img src="./uploads/<%= records[11].image[0].filename %>" alt="">
                                    </figure>
                                </a>
                                <div class="item-content">
                                    <h3>Make Girls Educated To Aid Them Earn Reputed Position</h3>
                                    <span class="donation">Donation : <span
                                                class="value">$78,354 / $1,26,500</span></span>
                                    <div class="progress-bar-section">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="35"
                                                 aria-valuemin="0" aria-valuemax="100" style="width:35%;"></div>
                                        </div>
                                        <span class="progress-value-number">35%</span>
                                    </div>
                                    <p>Give an opportunity to girls to become educated, so that, they can stand with
                                        boys and get a self exposure worldwide. </p>
                                    <a data-toggle="modal" href="external.html" data-target=".donate-form"
                                       class="btn btn-default">donate now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 item-wrapper">
                            <div class="items zoom">
                                <a href="#" class="img-thumb">
                                    <figure>
                                        <img src="./uploads/<%= records[10].image[0].filename %>" alt="">
                                    </figure>
                                </a>
                                <div class="item-content">
                                    <h3>Help us to send Vegetables to Africa</h3>
                                    <span class="donation">Donation : <span
                                                class="value">$78,354 / $1,26,500</span></span>
                                    <div class="progress-bar-section">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="35"
                                                 aria-valuemin="0" aria-valuemax="100" style="width:35%;"></div>
                                        </div>
                                        <span class="progress-value-number">35%</span>
                                    </div>
                                    <p>You can offer your support by sending vegetables that we can further send to
                                        these children in Africa</p>
                                    <a data-toggle="modal" href="external.html" data-target=".donate-form"
                                       class="btn btn-default">donate now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Causes Section End Here-->

    <!-- How To Help Section Start Here -->
    <section class="help-people">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Change <span>Life of Underprivileged African Children </span></h2>
                    <p class="message">Donate for all poor communities without any constraint of religion or caste by
                        raising fund for medical care, education, shelter and nutrition. You may also take initiate to
                        sponsor a child to make his/her life normal and cheerful that every child owns the right.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Contribute Your Best To Execute Program </h3>
                            <p>Think big to help the non-profit and charitable organizations to support maximum poor
                                communities.</p>
                        </div>
                        <div class="col-md-6">
                            <h3>Donation Drive For Africans’ Goodwill </h3>
                            <p>Support together to give a new start to the communities of poor people and bring them out
                                from economically challenging phase .
                            </p>
                        </div>
                    </div>
                    <div class="video-section">
                        <img src="./uploads/<%= records[13].image[0].filename %>"
                             data-video="http://www.youtube.com/embed/wN3gueLT0D8?autoplay=1" alt="">
                        <div class="control">
                            <h2>Watch our media video</h2>
                            <a href="#" class="play-btn"> <i class="fa fa-play-circle-o"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2>How you can help ? <span>See Below </span></h2>
                    <div class="help-block">
                        <h3><a href="../../our-story.ejs"><img src="../../../../../../assets/svg/megaphone.svg"
                                                               alt="Media Help"/>Media Helping</a></h3>
                        <p>Donate money anywhere &amp; anytime to offer help in Africans through different medias. </p>
                    </div>
                    <div class="help-block">
                        <h3><a href="../../volunteer/volunteer.ejs"><img
                                        src="../../../../../../assets/svg/user.svg" alt="Become Volunteer"/>Become
                                Volunteer </a></h3>
                        <p>
                            Take initiate to become a volunteer and help those people, who do not have any hope for good
                            living.
                        </p>
                    </div>
                    <div class="help-block">
                        <h3><a href="external.html" data-toggle="modal" data-target=".donate-form">
                                <img src="../../../../../../assets/svg/heart.svg" alt="Send Donation"/>Send
                                Donation</a></h3>
                        <p>Choose any medium either offline or online to send donation and aid NGOs to support people
                            who are facing poverty.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- How To Help Section End Here-->


    <!-- Latest News Section Start Here -->
    <section class="latest-news news-section news-section3">
        <div class="container anim-section">
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <div class="row">
                        <header class="page-header section-header col-md-12 clearfix">
                            <h2>Latest News <strong>Charity</strong></h2>
                        </header>
                        <div class="items zoom col-xs-12 col-md-12">
                            <div class="row">
                                <a href="#" class="img-thumb col-md-5">
                                    <figure>
                                        <img src="./uploads/<%= records[15].image[0].filename %>" alt="">
                                    </figure>
                                </a>
                                <div class="media col-md-7">
                                    <h3>
                                        Fund raising initiatives</h3>

                                    <span class="date"><i class="fa fa-calendar font-icon"></i> 03 DEC 2013</span><span
                                            class="posted-in"><i
                                                class="fa fa-tag font-icon"></i> Posted In : category</span>
                                    <p>
                                        Last month, fund raising initiatives were taken up and drives were launched to
                                        attract donations for the education of the underprivileged children. Many people
                                        participated in the event donated their heart out. We assure our sponsors and
                                        contributors that the money will surely bring a great difference in the lives of
                                        these children.
                                    </p>
                                    <a href="../../blog-full-width" class="btn btn-default">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="items zoom col-xs-12 col-md-12">
                            <div class="row">
                                <a href="#" class="img-thumb col-md-5">
                                    <figure>
                                        <img src="./uploads/<%= records[16].image[0].filename %>" alt="">
                                    </figure>
                                </a>
                                <div class="media col-md-7">
                                    <h3>Fundraising for African unprivileged children</h3>
                                    <span class="date"><i class="fa fa-calendar font-icon"></i> 03 DEC 2013</span><span
                                            class="posted-in"><i
                                                class="fa fa-tag font-icon"></i> Posted In : category</span>
                                    <p>
                                        We have been raising funds with great difficulty for the work that this charity
                                        does in Africa. We work in rural communities in Eastern Nigeria and other parts
                                        and provide funding for widows to build businesses in order for them to help
                                        themselves and stimulate the local economy.
                                    </p>
                                    <a href="../../blog-full-width" class="btn btn-default">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-5">

                    <div class="volunteer-reward">
                        <img src="./uploads/<%= records[14].image[0].filename %>" alt="" class="get-involved-pic">
                        <div class="reward-apply">
                            <header class="page-header">
										<span class="svg-shape user-svg-shape">
												<img src="../../../../../../assets/svg/user.svg" class="svg"
                                                     alt="Get Involved">
											</span>
                                <strong class="get-involved">GET
                                    <span>INVOLVED</span>
                                </strong>

                                <h2>Be a volunteer & reap the
                                    rewards</h2>
                            </header>
                            <p>Spread the awareness of helping people, so that they can live a normal life in the
                                society and educate their children that everyone deserves.</p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Latest News Section End Here -->

    <!--Testimonial Section Start Here -->
    <section class="donation-holder holders">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>What Donation Holders say </h2>
                    <div class="col-xs-12 col-md-12">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <div class="testimonial-content">
                                        <div class="img-circle photo-frame">
                                            <img src="./uploads/<%= records[2].image[0].filename %>" alt=""
                                                 class="img-circle">
                                        </div>
                                        <blockquote>
                                            <p><i class="fa fa-quote-left quote-mark"></i>
                                                Thanks to Charity for giving me such an inspiration to support poor
                                                people. Your innovative fundraising ideas can prove to be fruitful for
                                                personal causes. This way, I can put smile on face of at least one
                                                child.
                                            </p>
                                            <footer>
                                                <span>Jhon doe </span>
                                                <cite>(New media of Marketing firm)</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial-content">
                                        <div class="img-circle photo-frame">
                                            <img src="./uploads/<%= records[2].image[0].filename %>" alt=""
                                                 class="img-circle">
                                        </div>
                                        <blockquote>
                                            <p><i class="fa fa-quote-left quote-mark"></i>
                                                I have worked closely with Charity, it provide me an opportunity to
                                                become a volunteer and support poor communities. Your fundraising drive
                                                is awesome to raise fund, which is used to meet diverse needs of
                                                underprivileged children like providing them shelter, education,
                                                nutrition and medical care.
                                            </p>
                                            <footer>
													<span>Adam John
</span>
                                                <cite>(New media of Marketing firm)</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial-content">
                                        <div class="img-circle photo-frame">
                                            <img src="./uploads/<%= records[2].image[0].filename %>" alt=""
                                                 class="img-circle">
                                        </div>
                                        <blockquote>
                                            <p><i class="fa fa-quote-left quote-mark"></i>
                                                It has been a pleasure working with one of the best NGOs that is
                                                renowned to raise fund, fundraising drive and donation programs executed
                                                by team of volunteer to make Africans’ complicated life cheerful
                                                especially children, who are suffering with lack of nutrition and
                                                medical care.
                                            </p>
                                            <footer>
                                                <span>Shen Thomas</span>
                                                <cite>(New media of Marketing firm)</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End Flex -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonial Section End Here -->

</div>
<!--Content End Here -->
<!--Footer Section Start Here -->

<!--Footer Section End Here -->
<!-- donation form popup -->

<div class="modal donate-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <header class="page-header">
                    <h2>You are donating to. <strong>Example Causes name</strong></h2>
                </header>
            </div>
            <div class="modal-body">
                <form role="form">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label>How much would you like to donate ?</label>

                                <div class="choose-pricing">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default active">
                                            $12
                                        </button>
                                        <button type="button" class="btn btn-default">
                                            $22
                                        </button>
                                        <button type="button" class="btn btn-default">
                                            $32
                                        </button>

                                        <input type="text" placeholder="Custom" class="inpt-first form-control">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row display">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                <div class="dropdown">
                                    <button class="btn btn-width dropdown-toggle" type="button" id="dropdownMenu1"
                                            data-toggle="dropdown">
                                        <small> Donation Type</small>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="#">Every Monthly (Recurring)</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="#">One Time Donation</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="name">Name<span>*</span></label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="last-name">Last Name<span>*</span></label>
                                <input type="text" class="form-control" id="last-name">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="name">Email<span>*</span></label>
                                <input type="text" class="form-control" id="email">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="phone">Phone<span>*</span></label>
                                <input type="text" class="form-control" id="phone">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="message">Address<span>*</span></label>
                                <textarea class="form-control" id="message"></textarea>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="add-note">Additional Note</label>
                                <textarea class="form-control" id="add-note"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                                <input type="submit" value="DONATE" class="btn btn-default pull-right">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                                <p class="forms-notes">
                                    Note: Lorem ipsum dolor sit amet
                                </p>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- donation form popup -->

</div>

<script src="../../../../../../assets/js/jquery.min.js"></script>
<!-- Switcher Style Js -->
<script src="assets/js/style-switcher/assets/js/style.switcher.js"></script>
<script src="assets/js/jquery.cookie.js"></script>
<!-- Bootstrap Js-->
<script src="../../../../../../assets/js/bootstrap.min.js"></script>
<script src="../../../../../../assets/js/jquery.easing.min.js"></script>
<!--Main Slider Js-->
<script src="../../../../../../assets/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
<script src="../../../../../../assets/revolution-slider/js/jquery.themepunch.revolution.js"></script>
<!--Main Slider Js End -->
<script src="../../../../../../assets/js/jquery.flexslider.js"></script>
<script src="../../../../../../assets/js/site.js"></script>
</body>
</html>
