<!DOCTYPE html>
<html lang="en">
	<head>
	<%- include layouts/head.ejs%>
	</head>
	<body>

		<div id="wrapper">
			<!--Header Section Start Here -->
			<%- include layouts/Header.ejs%>
			<!-- Header Section End Here -->

				<!-- Site Content -->
			<%- include DashBoardContent.ejs%>
	<!--Content End Here -->
	<!--Footer Section Start Here -->
			<%- include layouts/Footer.ejs%>
	<!--Footer Section End Here -->

		</div>
		<!-- join now form popup -->
		<%- include volunteer/VolunteerRegistration.ejs%>
		<!-- join now form popup -->
		<!-- donation form popup -->
		<%- include donation/DonationDialog.ejs%>
		<!-- donation form popup -->
		<!-- Scripts are here -->
	<%- include layouts/scripts.ejs%>
	</body>
</html>