<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ../layouts/head.ejs%>

	</head>
	<body>

		<div id="wrapper">
			<!--Header Section Start Here -->
			<%- include ../layouts/Header.ejs%>
			<!-- Header Section End Here -->

			<!-- site content -->
			<div id="main">
				<!--Breadcrumb Section Start Here-->
				<div class="breadcrumb-section">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h1>Event Details</h1>
								<ul class="breadcrumb">
									<li>
										<a href="../layouts/index.html">Home</a>
									</li>
									<li class="active">
										Event
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--Breadcrumb Section End Here-->

				<div class="cause-page content-wrapper" id="page-info">
					<div class="container">

						<!-- our causes detail-->

						<div class="anim-section">
							<div class="row">
								<div class="col-xs-12 col-sm-9 left-block">

									<div class="event_detail">
										<figure>
											<img src="../../../../../public/assets/img/img_container.jpg" alt="img_container"/>
										</figure>
										<div class="event_date">
											<strong>10</strong> <span>May</span>
											 
										</div>
									</div>
									
									    <div class="event_heading clearfix">
										       <h2><a href="#">Dance Marathon event for fundraising</a></h2>
										       <div class="event_time clearfix">
											       <div class="venue_block">
											       		<div class="location-svg">
											       			<img src="../../../../../public/assets/svg/location.svg" alt="" class="svg"/>
											       		</div>
										                <span>venue :</span> 
										                <strong>Name Here</strong>
									                 </div>
									                 
									                   <div class="date_block">
									                  	<div class="date-svg">
									                  		<img src="../../../../../public/assets/svg/calendar.svg" alt="" class="svg"/>
									                  	</div>
										                <span>date :</span> 
										                <strong>10-05-2015</strong>
									                 </div>
									                 
									                  <div class="time_block">
									                  	<div class="time-svg">
									                  		<img src="../../../../../public/assets/svg/timer.svg" alt="" class="svg" />
									                  	</div>
										                <span>Time :</span> 
										                <strong>10 PM</strong>
									                 </div>
									              </div>   
									              <div class="event_description">
									                 <p>Hundreds of teens participated in a Dance Marathon held Saturday, May 16, 5:00 p.m. - Midnight at Niles North High School, 9800 North Lawler Street, Skokie, IL. The Dance Marathon culminated a year-long series of fundraising efforts held throughout the school year to benefit the Daniel M. Horyn Foundation, formed in the memory of a beloved Niles North teacher who lost his courageous battle with esophageal cancer on September 9, 2013.
                                                      </p>
                                                      <p>
Dance Marathon (DM), started in 2003, has become the coolest tradition. At this year's event, students, faculty members and community members came together and danced, sang, and partied with fellow students while helping a great cause. It was fun and a considerable amount of donation was also collected in the process. </p>
                                                  </div>
                                                  
                                                  <div class="event_descript">
                                                  	<p>The Honorable Mayor served as this year's Honorary Chair. A total of $84,366.10 was raised. Approximately 10 percent will go towards the Education Foundation, which supports poor African students in financial need. </p>
                                                  </div>
									     </div>
									     
									     
									     <div class="row">
								             
								             	  <div class="col-xs-12 col-md-7">
								             	       <div  class="hightlight_event">
								             	 	<h2>Highlights of the event</h2>
								             	 	<p>Dance Marathon is the final event for D219's School Chest, a student-run organization that helps a different charity each year. Throughout the year, through donations raised by bake sales, canning, benefit nights, events, and pure dedication, the committed members of School Chest/DM help the charity by raising money all year long. </p>
								             	 	<p>The charity Foundation strives to raise awareness among the people for the underprivileged children of Africa by providing proper education to the children. And eradication of poverty and providing the people with balanced diet to keep malnutrition at bay. It also aimed to improve the standard of living among the families by providing them skills and jobs.</p>
								             	 	   </div>
								             	  
								             </div>
								             	
								               <div class="col-xs-12 col-md-5">
								               	<div class="hightlight_rightblock">
								               		<figure>
								               			<img src="../../../../../public/assets/img/height_light_img.png" alt="hightImg">
								               		</figure>
								               		
								               		 	<div class="hightlight_content">
								               		<figure>
								               			<img src="../../../../../public/assets/img/hightlight_content.png" alt="hightLight_Content">
								               		</figure>
								               	</div>
								               	</div>
								               	
								             
								          </div>      
									  
									     
									     	
									     </div>
									     <div class="forward_content clearfix">
									     <a href="#" class="next btn btn-default">Next</a> 
									      <a href="#" class="previous btn btn-default">previous</a> 
									     </div>
                                     
								</div>
                              
								<div class="col-xs-12 col-sm-3 left-block ">
									<aside class="media">
										<h3 class="space-top">Most Popular Events</h3>
										<ul>
											<li>
												<a href="#" class="pull-left">
													<figure>
													<img src="../../../../../public/assets/img/aside-img-01.jpg" alt="" />
													</figure>
													</a>
												<div class="media-body">
													<p>
														<a href="#">
														Fusce mauris enim faci lisis sceler
														</a>
													</p>
													<span> 23, March'14 </span>
												</div>
											</li>

											<li>
												<a href="#" class="pull-left">
													<figure>
													<img src="../../../../../public/assets/img/aside-img-02.jpg" alt="" />
													</figure>
													</a>
												<div class="media-body">
													<p>
														<a href="#">
														Mauris enim faci lisis sceler isque non
														</a>
													</p>
													<span> 23, March'14 </span>
												</div>
											</li>

											<li>
												<a href="#" class="pull-left">
													<figure>
													<img src="../../../../../public/assets/img/aside-img-03.jpg" alt="" />
													</figure>
													</a>
												<div class="media-body">
													<p>
														<a href="#">
														Enim faci lisis sceler isque nonmauris
														</a>
													</p>
													<span> 23, March'14 </span>
												</div>
											</li>
										</ul>

									</aside>

									<!-- Archives   -->
									<aside class="media">
										<h3>Archives</h3>
										<ul class="archives">
											<li>
												<a href="#">
												March 2013 <span class="pull-right">(12)</span>
												</a>
											</li>
											<li>
												<a href="#">
												February 2013 <span class="pull-right">(12)</span>
												</a>
											</li>
											<li><a href="#">
												January 2013 <span class="pull-right">(43)</span>
											</a>
											</li>
											<li><a href="#">
												December 2012 <span class="pull-right">(12)</span>
											</a>
											</li>
											<li>
												<a href="#">
												November 2012 <span class="pull-right">(32)</span>
												</a>
											</li>
										</ul>
									</aside>

									<!-- Tags -->
									<aside class="media">
										<h3>Tags</h3>
										<ul class="archives tag_element clearfix">
											<li>
												<a href="#">tag One </a>
											</li>
											<li>
													<a href="#">  tag heaing </a>
										 </li>
											<li>
												 	<a href="#"  > tag </a>
											</li>
											<li>
												<a href="#"> tag title heaing	 </a>
											 </li>
											<li>
													<a href="#">  tag two </a>
										   </li>
											<li>
												 	<a href="#" > tag </a>
											</li>
											<li>
												<a href="#"> ag One	 </a>
											 </li>
											<li>
													<a href="#">  tag heaing </a>
										    </li>
											<li>
												 	<a href="#" > tag </a>
											</li>
										 

										</ul>
									</aside>

								 
								</div>
							</div>

						</div>
 
						<!-- our causes detail-->

					</div>
 
				</div>

			</div>
			<!-- site content ends -->

			<!--Footer Section Start Here -->
			<%- include ../layouts/Footer.ejs%>
	<!--Footer Section End Here -->
		</div>

		<!-- donation form popup -->

		<%- include ../donation/DonationDialog.ejs%>
		<!-- donation form popup -->

		<!-- Scripts are here -->
		<%- include ../layouts/scripts.ejs%>
	</body>
</html>