<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../layouts/head.ejs %>


</head>
<body>

<div id="wrapper">
    <!--Header Section Start Here -->
    <%- include ../layouts/Header.ejs %>
    <!-- Header Section End Here -->

    <!-- site content -->
    <div id="main">
        <!--Breadcrumb Section Start Here-->
        <div class="breadcrumb-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Event</h1>
                        <ul class="breadcrumb">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li class="active">
                                Event
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumb Section End Here-->

        <div class="cause-page content-wrapper" id="page-info">
            <div class="container">

                <!-- our causes detail-->
                <% if(data.length > 0) { %>
                    <% data.forEach(function (row) {
                    %>
                        <div class="anim-section">
                            <div class="row">
                                <div class="col-xs-12 col-sm-9 left-block event_page">

                                    <div class="event_detail">
                                        <figure>
                                            <img src="../uploads/<%= row.image[1].filename %>" alt="img_container"/>
                                        </figure>
                                        <div class="event_date">
                                            <!--											<strong>10</strong> <span>May</span>-->
                                        </div>
                                    </div>

                                    <div class="event_heading clearfix">
                                        <h2><a href="#"><%= row.event_name %></a></h2>
                                        <div class="event_time clearfix">
                                            <div class="venue_block">
                                                <div class="location-svg">
                                                    <img src="../../../../../assets/svg/location.svg" alt=""
                                                         class="svg"/>
                                                </div>
                                                <span>venue :</span>
                                                <strong><%= row.venue %></strong>
                                            </div>

                                            <div class="date_block">
                                                <div class="date-svg">
                                                    <img src="../../../../../assets/svg/calendar.svg" alt=""
                                                         class="svg"/>
                                                </div>
                                                <span>date :</span>
                                                <strong><%= moment(row.date).format('DD-MM-YYYY') %></strong>
                                            </div>

                                            <div class="time_block">
                                                <div class="time-svg">
                                                    <img src="../../../../../assets/svg/timer.svg" alt="" class="svg"/>
                                                </div>
                                                <span>Time :</span>
                                                <strong><%= moment(row.date).format('LT') %></strong>
                                            </div>
                                        </div>
                                        <div class="event_descriptions">
                                            <p>Hundreds of teens participated in a Dance Marathon held
                                                <strong><%= moment(row.date).format('LLLL') %></strong> - Midnight at
                                                Niles North High School, 9800 North Lawler Street, Skokie, IL. The Dance
                                                Marathon culminated a year-long series of fundraising efforts held
                                                throughout the country.
                                            </p>


                                            <a href="/<%= row._id %>" class="btn btn-default">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 left-block ">
                                    <aside class="media">
                                        <h3 class="space-top">Most Popular Events</h3>
                                        <ul>
                                            <li>
                                                <a href="event-details.html" class="pull-left">
                                                    <figure>
                                                        <img src="../uploads/<%= data[0].image[0].filename %>"
                                                             alt=""/>
                                                    </figure>
                                                </a>
                                                <div class="media-body">
                                                    <p>
                                                        <a href="event-details.html">
                                                            Fusce mauris enim faci lisis sceler
                                                        </a>
                                                    </p>
                                                    <span> 23, March?14 </span>
                                                </div>
                                            </li>

                                            <li>
                                                <a href="event-details.html" class="pull-left">
                                                    <figure>
                                                        <img src="../uploads/<%= data[0].image[0].filename %>" alt=""/>
                                                    </figure>
                                                </a>
                                                <div class="media-body">
                                                    <p>
                                                        <a href="event-details.html">
                                                            Mauris enim faci lisis sceler isque non
                                                        </a>
                                                    </p>
                                                    <span> 23, March?14 </span>
                                                </div>
                                            </li>

                                            <li>
                                                <a href="event-details.html" class="pull-left">
                                                    <figure>
                                                        <img src="../uploads/<%= data[0].image[0].filename %>" alt=""/>
                                                    </figure>
                                                </a>
                                                <div class="media-body">
                                                    <p>
                                                        <a href="event-details.html">
                                                            Enim faci lisis sceler isque nonmauris
                                                        </a>
                                                    </p>
                                                    <span> 23, March?14 </span>
                                                </div>
                                            </li>
                                        </ul>

                                    </aside>

                                    <!-- Archives   -->
                                    <aside class="media">
                                        <h3>Archives</h3>
                                        <ul class="archives">
                                            <li>
                                                <a href="#">
                                                    March 2013 <span class="pull-right">(12)</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    February 2013 <span class="pull-right">(12)</span>
                                                </a>
                                            </li>
                                            <li><a href="#">
                                                    January 2013 <span class="pull-right">(43)</span>
                                                </a>
                                            </li>
                                            <li><a href="#">
                                                    December 2012 <span class="pull-right">(12)</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    November 2012 <span class="pull-right">(32)</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </aside>

                                    <!-- Tags -->
                                    <aside class="media">
                                        <h3>Tags</h3>
                                        <ul class="archives tag_element clearfix">
                                            <li>
                                                <a href="#">tag One </a>
                                            </li>
                                            <li>
                                                <a href="#"> tag heaing </a>
                                            </li>
                                            <li>
                                                <a href="#"> tag </a>
                                            </li>
                                            <li>
                                                <a href="#"> tag title heaing </a>
                                            </li>
                                            <li>
                                                <a href="#"> tag two </a>
                                            </li>
                                            <li>
                                                <a href="#"> tag </a>
                                            </li>
                                            <li>
                                                <a href="#"> ag One </a>
                                            </li>
                                            <li>
                                                <a href="#"> tag heaing </a>
                                            </li>
                                            <li>
                                                <a href="#"> tag </a>
                                            </li>


                                        </ul>
                                    </aside>


                                </div>
                            </div>

                        </div>
                <% })}else{ %>
                    <div class="col-xs-12 col-md-8 col-md-offset-2 four-zero-four">


                        <header class="page-header">
                            <h2>NO EVENTS FOUNDS</h2>
                            <!--									<p>-->
                            <!--										The page you are looking for had an accident due to wrong URL, so try with right URL to reach at the target page.-->
                            <!--									</p>-->
                        </header>
                        <a class="btn btn-default" href="/">BACK TO HOMEPAGE</a>

                    </div>
                <% } %>

                <!-- our causes detail-->

            </div>

        </div>

    </div>
    <!-- site content ends -->

    <!--Footer Section Start Here -->
    <%- include ../layouts/Footer.ejs %>
    <!--Footer Section End Here -->
</div>

<!-- donation form popup -->

<%- include ../donation/DonationDialog.ejs %>
<!-- donation form popup -->

<!-- Scripts are here -->
<%- include ../layouts/scripts.ejs %>
</body>
</html>
