<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../layouts/head.ejs %>

</head>
<body>

<div id="wrapper">
    <!--Header Section Start Here -->
    <%- include ../layouts/Header.ejs %>
    <!-- Header Section End Here -->

    <!-- site content -->
    <div id="main">
        <!--Breadcrumb Section Start Here-->
        <div class="breadcrumb-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Event Details</h1>
                        <ul class="breadcrumb">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li class="active">
                                Event
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumb Section End Here-->

        <div class="cause-page content-wrapper" id="page-info">
            <div class="container">

                <!-- our causes detail-->

                <div class="anim-section">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 left-block">

                            <div class="event_detail">
                                <figure>
                                    <img src="../uploads/<%= events[0].image[3].filename %>" alt="img_container"/>
                                </figure>
                                <div class="event_date">
                                    <!--											<strong>10</strong> <span>May</span>-->

                                </div>
                            </div>

                            <div class="event_heading clearfix">
                                <h2><a href="#"><%= events[0].event_name %></a></h2>
                                <div class="event_time clearfix">
                                    <div class="venue_block">
                                        <div class="location-svg">
                                            <img src="../../../../../assets/svg/location.svg" alt="" class="svg"/>
                                        </div>
                                        <span>venue :</span>
                                        <strong><%= events[0].venue %></strong>
                                    </div>

                                    <div class="date_block">
                                        <div class="date-svg">
                                            <img src="../../../../../assets/svg/calendar.svg" alt="" class="svg"/>
                                        </div>
                                        <span>date :</span>
                                        <strong><%= moment(events[0].date).format('DD-MM-YYYY') %></strong>
                                    </div>

                                    <div class="time_block">
                                        <div class="time-svg">
                                            <img src="../../../../../assets/svg/timer.svg" alt="" class="svg"/>
                                        </div>
                                        <span>Time :</span>
                                        <strong><%= moment(events[0].date).format('LT') %></strong>
                                    </div>
                                </div>
                                <div class="event_description">
                                    <p>Hundreds of teens participated in a Dance Marathon held Saturday, May 16, 5:00
                                        p.m. - Midnight at Niles North High School, 9800 North Lawler Street, Skokie,
                                        IL. The Dance Marathon culminated a year-long series of fundraising efforts held
                                        throughout the school year to benefit the Daniel M. Horyn Foundation, formed in
                                        the memory of a beloved Niles North teacher who lost his courageous battle with
                                        esophageal cancer on September 9, 2013.
                                    </p>
                                    <p>
                                        Dance Marathon (DM), started in 2003, has become the coolest tradition. At this
                                        year's event, students, faculty members and community members came together and
                                        danced, sang, and partied with fellow students while helping a great cause. It
                                        was fun and a considerable amount of donation was also collected in the
                                        process. </p>
                                </div>

                                <div class="event_descript">
                                    <p>The Honorable Mayor served as this year's Honorary Chair. A total of $84,366.10
                                        was raised. Approximately 10 percent will go towards the Education Foundation,
                                        which supports poor African students in financial need. </p>
                                </div>
                            </div>


                            <div class="row">

                                <div class="col-xs-12 col-md-7">
                                    <div class="hightlight_event">
                                        <h2>Highlights of the event</h2>
                                        <p>Dance Marathon is the final event for D219's School Chest, a student-run
                                            organization that helps a different charity each year. Throughout the year,
                                            through donations raised by bake sales, canning, benefit nights, events, and
                                            pure dedication, the committed members of School Chest/DM help the charity
                                            by raising money all year long. </p>
                                        <p>The charity Foundation strives to raise awareness among the people for the
                                            underprivileged children of Africa by providing proper education to the
                                            children. And eradication of poverty and providing the people with balanced
                                            diet to keep malnutrition at bay. It also aimed to improve the standard of
                                            living among the families by providing them skills and jobs.</p>
                                    </div>

                                </div>

                                <div class="col-xs-12 col-md-5">
                                    <div class="hightlight_rightblock">
                                        <figure>
                                            <img src="../uploads/<%= events[0].image[1].filename %>" alt="hightImg">
                                        </figure>

                                        <div class="hightlight_content">
                                            <figure>
                                                <img src="../uploads/<%= events[0].image[2].filename %>"
                                                     alt="hightLight_Content">
                                            </figure>
                                        </div>
                                    </div>


                                </div>


                            </div>
                            <div class="forward_content clearfix">
                                <a href="#" class="next btn btn-default">Next</a>
                                <a href="#" class="previous btn btn-default">previous</a>
                            </div>

                        </div>


                    </div>

                </div>

                <!-- our causes detail-->

            </div>

        </div>

    </div>
    <!-- site content ends -->

    <!--Footer Section Start Here -->
    <%- include ../layouts/Footer.ejs %>
    <!--Footer Section End Here -->
</div>

<!-- donation form popup -->

<%- include ../donation/DonationDialog.ejs %>
<!-- donation form popup -->

<!-- Scripts are here -->
<%- include ../layouts/scripts.ejs %>
</body>
</html>
