<div id="main">
    <!-- banner slider Start Here -->
    <section class="rev_slider_wrapperc main-slider">
        <div class="rev_slider banner-slider">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="500">
                    <!-- MAIN IMAGE -->
                    <img src="./uploads/<%= records[3].image[0].filename %>" alt="banner"
                         data-bgfit="cover" data-bgposition="center 36%" data-bgrepeat="no-repeat">

                    <div
                            data-endspeed="800"
                            data-easing="easeOutCirc"
                            data-start="800"
                            data-speed="700"
                            data-y="122"
                            data-x="152"
                            class="tp-caption sft banner-heading">
                        <h2><%= records[0].title %><span>&amp; Accept Gratefully,</span><strong>Everyone is
                                blessed</strong></h2>
                    </div>

                    <div
                            data-endspeed="1000"
                            data-easing="easeOutCirc"
                            data-start="1000"
                            data-speed="700"
                            data-y="308"
                            data-x="152"
                            class="tp-caption sft banner-summary">
                        <p>
                            Offer worth support to poor people with your contribution &amp; help them come out from
                            financially worst situations
                        </p>
                    </div>

                    <div
                            data-endspeed="1200"
                            data-easing="easeOutCirc"
                            data-start="1200"
                            data-speed="700"
                            data-y="384"
                            data-x="152"
                            class="tp-caption sft">
                        <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">Read
                            more</a>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="500">
                    <!-- MAIN IMAGE -->
                    <img src="./uploads/<%= records[4].image[0].filename %>" alt="banner" data-bgfit="cover"
                         data-bgposition="center 36%" data-bgrepeat="no-repeat">

                    <div
                            data-endspeed="800"
                            data-easing="easeOutCirc"
                            data-start="800"
                            data-speed="700"
                            data-y="122"
                            data-x="152"
                            class="tp-caption sft banner-heading">
                        <h2>Become A mentor & <span>Take Leading</span><strong>Step In Donation Program</strong></h2>
                    </div>

                    <div
                            data-endspeed="1000"
                            data-easing="easeOutCirc"
                            data-start="1000"
                            data-speed="700"
                            data-y="308"
                            data-x="152"
                            class="tp-caption sft banner-summary">
                        <p>
                            Taking initiative of people in donation program can bring a new life to poor African and
                            their children
                        </p>
                    </div>

                    <div
                            data-endspeed="1200"
                            data-easing="easeOutCirc"
                            data-start="1200"
                            data-speed="700"
                            data-y="384"
                            data-x="152"
                            class="tp-caption sft">
                        <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">Read
                            more</a>
                    </div>

                </li>
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="500">
                    <!-- MAIN IMAGE -->
                    <img src="./uploads/<%= records[0].image[0].filename %>" alt="banner" data-bgfit="cover"
                         data-bgposition="center 36%" data-bgrepeat="no-repeat">

                    <div
                            data-endspeed="800"
                            data-easing="easeOutCirc"
                            data-start="800"
                            data-speed="700"
                            data-y="118"
                            data-x="152"
                            class="tp-caption sft banner-heading">
                        <h2>Donate Today <span>For African Children’s</span><strong>Worth Supporting </strong></h2>
                    </div>

                    <div
                            data-endspeed="1000"
                            data-easing="easeOutCirc"
                            data-start="1000"
                            data-speed="700"
                            data-y="310"
                            data-x="152"
                            class="tp-caption sft banner-summary">
                        <p>
                            Raise substantial fund and start bringing fun in underprivileged children’s life by offering
                            a support to get shelter and food
                        </p>
                    </div>

                    <div
                            data-endspeed="1200"
                            data-easing="easeOutCirc"
                            data-start="1200"
                            data-speed="700"
                            data-y="400"
                            data-x="152"
                            class="tp-caption sft">
                        <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">Read
                            more</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- banner slider End Here -->
    <!-- Our Causes Section Start Here-->
    <section class="our-causes our-causes-section ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <h2>Urgent Cause</h2>
                            <div class="items zoom">
                                <a href="#" class="img-thumb">
                                    <figure>
                                        <img src="./uploads/<%= records[5].image[0].filename %>" alt="">
                                    </figure>
                                </a>

                                <h3 class="h4">Help African Children Get Their Own Homes</h3>

                                <span class="donation">Donation:<span class="value">$78,354 <small class="value-color">/ $1,26,500</small></span></span>
                                <div class="progress-bar-section">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="45"
                                             aria-valuemin="0" aria-valuemax="100" style="width:45%;"></div>
                                    </div>
                                    <span class="progress-value-number">45%</span>
                                </div>
                                <p>
                                    Improve living style of people, who are affected by several health issues & poverty
                                    and unable to come out this situation.
                                </p>
                                <a data-toggle="modal" href="external.html" data-target=".donate-form"
                                   class="btn btn-default">DONATE NOW</a>
                            </div>

                        </div>
                        <div class="col-xs-12 col-md-6 cause-summary">

                            <div class="row">
                                <div class="col-xs-12">
                                    <h2>All Causes</h2>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 one-block">
                                    <div class="items zoom">
                                        <a href="#" class="img-thumb">
                                            <figure>
                                                <img src="./uploads/<%= records[6].image[0].filename %>"
                                                     alt="">
                                            </figure>
                                        </a>
                                        <div class="heading-block">

                                            <h3 class="h4">Make Girls Educated To Aid Them Earn Reputed Position</h3>
                                        </div>
                                        <span class="donation">Donation : <span
                                                    class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <div class="progress-bar-section">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="35"
                                                     aria-valuemin="0" aria-valuemax="100" style="width:35%;"></div>
                                            </div>
                                            <span class="progress-value-number">35%</span>
                                        </div>
                                        <p>
                                            Give an opportunity to girls to become educated, so that, they can stand
                                            with boys and get a self exposure worldwide.
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form"
                                           class="btn btn-default">DONATE NOW</a>
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 one-block">
                                    <div class="items zoom">

                                        <a href="#" class="img-thumb">
                                            <figure>
                                                <img src="./uploads/<%= records[7].image[0].filename %>"
                                                     alt="">
                                            </figure>
                                        </a>
                                        <div class="heading-block">
                                            <h3 class="h4">Help us to send Vegetables to Africa</h3>
                                        </div>
                                        <span class="donation">Donation : <span
                                                    class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <div class="progress-bar-section">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="35"
                                                     aria-valuemin="0" aria-valuemax="100" style="width:35%;"></div>
                                            </div>
                                            <span class="progress-value-number">35%</span>
                                        </div>
                                        <p>
                                            You can offer your support by sending vegetables that we can further send to
                                            these children in Africa
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form"
                                           class="btn btn-default">DONATE NOW</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Causes Section End Here-->

    <!-- How To Help Section Start Here -->
    <section class="how-to-help help-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 ">
                    <header class="page-header section-header">
                        <h2>How you can help? <strong class="border-none">See Below</strong></h2>
                    </header>
                    <div class="row help-list">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <div class="row">
                                <div class="media col-xs-12 col-md-4">
                                    <div class="media-content equal-block">
                                        <span class="svg-shape megaphone"> <img
                                                    src="../../../../../../assets/svg/megaphone.svg" alt=""
                                                    class="svg"/> </span>
                                        <div class="media-body less-width">
                                            <h3 class="media-heading"><a href="../../our-story">Media</a></h3>
                                            <p>
                                                Donate money anywhere & anytime to offer help in Africans through
                                                different medias.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="media col-xs-12 col-md-4">
                                    <div class="media-content equal-block">
                                        <span class="svg-shape"> <img src="../../../../../../assets/svg/user.svg"
                                                                      alt="" class="svg"/> </span>
                                        <div class="media-body less-width">
                                            <h3 class="media-heading"><a
                                                        href="../../volunteer">Volunteer</a></h3>
                                            <p>
                                                Take initiate to become a volunteer and help those people, who do not
                                                have any hope for good living.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="media col-xs-12 col-md-4">
                                    <div class="media-content equal-block">
                                        <span class="svg-shape"> <img
                                                    src="../../../../../../assets/svg/heart.svg" alt=""
                                                    class="svg"/> </span>
                                        <div class="media-body less-width">
                                            <h3 class="media-heading"><a href="external.html" data-toggle="modal"
                                                                         data-target=".donate-form">Send Donation</a>
                                            </h3>
                                            <p>
                                                Choose any medium either offline or online to send donation and aid NGOs
                                                to support people who are facing poverty.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- How To Help Section End Here-->

    <!-- Become Volunteer Section Start Here -->
    <div class="video-section">
        <img src="../uploads/<%= records[1].image[0].filename %>"
             data-video="http://www.youtube.com/embed/wN3gueLT0D8?autoplay=1" alt="">
        <div class="control">
            <h2>Watch our media video</h2>
            <a href="#" class="play-btn"> <i class="fa fa-play-circle-o"></i> </a>
        </div>
    </div>

    <!-- Become Volunteer Section End Here -->

    <!-- Latest News Section Start Here -->
    <section class="latest-news news-section">
        <div class="container anim-section">
            <div class="row">
                <div class="col-xs-12 col-md-5">
                    <div class="volunteer-reward">
                        <div class="reward-apply">
                            <header class="page-header">
                                <strong class="get-involved">GET <span>INVOLVED</span> </strong>
                                <span class="svg-shape user-svg-shape"> <img
                                            src="../../../../../../assets/svg/user.svg" class="svg"> </span>
                                <h2>Be a volunteer & reap the
                                    rewards</h2>
                            </header>
                            <p>
                                Spread the awareness of helping people, so that they can live a normal life in the
                                society and educate their children that everyone deserves.
                            </p>
                            <a href="/volunteer" class="btn btn-default" title="Apply Today">Apply
                                Today</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-7">
                    <div class="row">
                        <header class="col-xs-12 page-header section-header clearfix">
                            <h2>Latest News <strong>Charity</strong></h2>
                        </header>
                        <div class="items zoom col-xs-12 col-md-12">
                            <div class="row">
                                <a href="#" class="img-thumb col-xs-12 col-sm-5">
                                    <figure>
                                        <img src="./uploads/<%= records[8].image[0].filename %>" alt="">
                                    </figure>
                                </a>
                                <div class="media col-xs-12 col-sm-7">
                                    <h3>Fund raising initiatives </h3>

                                    <span class="date">03 DEC 2013</span><span
                                            class="posted-in">Posted In : category</span>
                                    <p>
                                        Last month, fund raising initiatives were taken up and drives were launched to
                                        attract donations for the education of the underprivileged children. Many people
                                        participated in the event donated their heart out. We assure our sponsors and
                                        contributors that the money will surely bring a great difference in the lives of
                                        these children.
                                    </p>
                                    <a href="/blog-full-width" class="btn btn-default">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="items zoom col-xs-12 col-md-12">
                            <div class="row">
                                <a href="#" class="img-thumb col-xs-12 col-sm-5">
                                    <figure>
                                        <img src="./uploads/<%= records[9].image[0].filename %>" alt="">
                                    </figure>
                                </a>
                                <div class="media col-xs-12 col-sm-7">
                                    <h3>Fundraising for African unprivileged children
                                    </h3>
                                    <span class="date">03 DEC 2013</span><span
                                            class="posted-in">Posted In : category</span>
                                    <p>
                                        We have been raising funds with great difficulty for the work that this charity
                                        does in Africa. We work in rural communities in Eastern Nigeria and other parts
                                        and provide funding for widows to build businesses in order for them to help
                                        themselves and stimulate the local economy.
                                    </p>
                                    <a href="/blog-full-width" class="btn btn-default">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Latest News Section End Here -->

    <!--Testimonial Section Start Here -->
    <section class="donation-holder">

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>What Donation Holders say </h2>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 quote-block equal-box">
                            <blockquote class="equal-box">
                                <p>
                                    <i class="fa fa-quote-left quote-mark"></i>
                                    I have been impressed with the charity service that you work for people. I really
                                    believe that your dedication in this work will reflect positive effects as it has
                                    generated a volunteer hope in me to support the people, who do not have enough food
                                    to have and shelter to live.
                                </p>
                                <footer>
                                    John Franklin
                                    <cite title="www.demolink.com">www.demolink.com</cite>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 quote-block equal-box">
                            <blockquote class="equal-box">
                                <p>
                                    <i class="fa fa-quote-left quote-mark"></i>
                                    I appreciate the work that you do offer. Charity in the excellent work that you
                                    contribute for the healthcare in the poor and help them take out from troubled.
                                </p>
                                <footer>
                                    Martin Methew
                                    <cite title="www.demolink.com">www.demolink.com</cite>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 quote-block">
                            <blockquote class="equal-box">
                                <p>
                                    <i class="fa fa-quote-left quote-mark"></i>
                                    It is a pleasure to see the wonderful continued support by the Swinfen Trust and
                                    related staff and clinicians. Our medical students are increasingly aware and
                                    motivated to become engaged in global health issues and the Trust provides an
                                    outstanding example of positive impact on the lives of children and their families.
                                </p>
                                <footer>
                                    David Thomas
                                    <cite title="www.demolink.com">www.demolink.com</cite>
                                </footer>
                            </blockquote>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonial Section End Here -->

</div>
