<!DOCTYPE html>
<html lang="en">
<head>
    <%- include head.ejs %>
</head>
<body>
<div id="wrapper">
    <!--Header Section Start Here -->
    <%- include Header.ejs %>

    <!-- Header Section End Here -->

    <!-- Site Content -->
    <%- include DashboardContent2.ejs %>

    <!--Content End Here -->
    <!--Footer Section Start Here -->

    <!--Footer Section End Here -->

</div>
<!-- donation form popup -->
<%- include ../../donation/DonationDialog.ejs %>
<!-- donation form popup -->

<%- include ../scripts.ejs %>
</body>
</html>
