<footer id="footer" class="second-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="footer-logo">
                    <a href="../index.html" title="Welcome to Charity">About Charity</a>
                </div>
                <p>
                    It is a fundraising association that works globally to provide support in education via charity.
                    Their members have spread worldwide to ensure that fundraising amount to delivering at the right
                    place and for the right purposes
                </p>
                <address>
                    <span> <i class="fa fa-home"></i> <span>A-105, Sector-82, Agra, 282001, India</span> </span>
                    <span> <i class="fa fa-phone-square"></i> <span>+1 123 456 7890</span> </span>
                    <span> <i class="fa fa-envelope"></i> <span><a
                                    href="mailto:contact@charity.com">contact@charity.com</a></span> </span>
                </address>

            </div>
            <div class="col-xs-12 col-sm-2 twitter-update footer-nav">
                <h6>Useful Links</h6>
                <nav>
                    <ul>
                        <li>
                            <a href="#" title="About us">About us </a>
                        </li>
                        <li>
                            <a href="#" title="FAQ ">FAQ </a>
                        </li>
                        <li>
                            <a href="#" title="What We Do">What We Do</a>
                        </li>
                        <li>
                            <a href="#" title="Our Story">Our Story</a>
                        </li>
                        <li>
                            <a href="#" title="Be A Volunteer">Be A Volunteer</a>
                        </li>
                        <li>
                            <a href="#" title="Donate now">Donate now</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-4 flickr">
                <h6>Flickr</h6>
                <ul>
                    <li>
                        <a href="Dashboard2"> <img src="../uploads/<%= records[0].image[0].filename %>"> </a>
                    </li>
                    <li>
                        <a href="Dashboard2"> <img src="../uploads/<%= records[0].image[0].filename %>"> </a>
                    </li>
                    <li>
                        <a href="Dashboard2"> <img src="../uploads/<%= records[0].image[0].filename %>"> </a>
                    </li>
                    <li>
                        <a href="Dashboard2"> <img src="../uploads/<%= records[0].image[0].filename %>"> </a>
                    </li>
                    <li>
                        <a href="Dashboard2"> <img src="../uploads/<%= records[0].image[0].filename %>"> </a>
                    </li>
                    <li>
                        <a href="Dashboard2"> <img src="../uploads/<%= records[0].image[0].filename %>"> </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3">
                <h6>Newsletter Signup</h6>
                <p>
                    Sign up your account to check our newsletter that will undoubtedly help you acquainted with current
                    scenario.
                </p>
                <form role="form" class="sign-up">

                    <div class="input-group">
                        <input class="form-control" type="email" placeholder="Email">
                        <div class="input-group-addon">
                            <input type="submit" class="btn btn-theme" value="Submit">
                        </div>
                    </div>

                </form>

                <h6>Follow us</h6>
                <ul class="social-icons social-link">
                    <li>
                        <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="http://dribble.com/" target="_blank"><i class="fa fa-dribbble"></i></a>
                    </li>
                    <li>
                        <a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li>
                        <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <span> &copy; Copyright 2014, All Rights Reserved by Charity Theme. </span>
                </div>
            </div>
        </div>
    </div>
</footer>
