<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><%= title %></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/volunteers">Volunteer List</a></li>
                    <li class="breadcrumb-item active"><%= title%></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Volunteer Details<small></small></h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" enctype="multipart/form-data"  id="addVolunteerForm" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name-join">Name<span>*</span></label>
                                <input type="text" class="form-control" value="<%= records.first_name%>" name="name" id="name" required>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="last-name-join">Last Name<span>*</span></label>
                                    <input type="text" class="form-control" value="<%= records.last_name%>" name="last_name" id="lastname" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group ">
                                    <label for="email-join">Email<span>*</span></label>
                                    <input type="email" value="<%= records.email%>" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Residence Proof</label>
                                <select  id="proof" class="form-control select2"  name="residence_proof" style="width: 100%;">
                                    <optgroup label="Select Residence Proof">
                                        <option name="" value="0">Select Residence Proof</option>
                                        <% if(proof.length > 0 && records != null){
                                          var optionData = records.residence_proof
                                        proof.forEach(function(row){
                                         var selected = (row.value === optionData )? "selected":""
                                        %>
                                            <option value="<%= row.value %>"  <%= selected %>><%= row.title %></option>
                                        <%  }) } %>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="phone-join">Phone<span>*</span></label>
                                    <input type="tel"pattern="^\d{10}$" maxlength="10" value="<%= records.phone_number%>" class="form-control" name="phone" id="phone" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">Image</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" value="<%= records.image%>" name="image" id="image">
                                        <label class="custom-file-label" for="image"><%= records.image%></label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="">Upload</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer">
                            <a href="volunteer-form.ejs"> <button type="submit" class="btn btn-primary">Submit</button></a>
                        </div>

                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->


