
<div class="card">
    <div class="card-header">
        <h3 class="card-title">News</h3>
        <div class="card-tools">
            <ul class="nav nav-pills ml-auto">
                <li class="nav-item">
                    <a class="btn btn-success" href="/news/add">Add</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="news-list" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <%if (data.length >0){ %>
                <% data.forEach(function(row){ %>
                    <tr>
                        <td><%= row.title %></td>
                        <td><%= row.description %></td>
                        <td>
                        <% if(row.image){ %>
                            <img src="./uploads/<%= row.image %>" alt="profile image" width="80">
                        <% } %>
                        </td>
                        <td><a class="btn btn-primary btn-xs" href="/news/edit/<%= row._id %>"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-danger btn-xs" href="/news/delete/<%= row._id %>"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
            <% })}else{ %>
                <tr>
                    <td colspan="6">No Record Found</td>

                </tr>
            <% } %>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
