<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../layout/header.ejs %>
</head>

<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">
    <%- include ../layout/navigation.ejs %>
    <%- include ../layout/sidebar.ejs %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <%- include news-list-form.ejs %>
    </div>
    <%- include ../layout/footer.ejs %>
    <%- include ../layout/control-sidebar.ejs %>
</div>

<!-- ./wrapper -->
<%- include ../layout/js.ejs %>

<!-- page script -->

</body>
</html>
