<!-- /.card -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Events</h3>
        <div class="card-tools">
            <ul class="nav nav-pills ml-auto">
                <li class="nav-item">
                    <a class="btn btn-success" href="/admin/events/add">Add</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="events-list" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Event Name</th>
                <th>Venue</th>
                <th>Banner Image</th>
                <th>Date</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <%if (data.length >0){ %>
                <% data.forEach(function(row){ %>

                    <tr>

                        <td><%= row.event_name %></td>
                        <td><%= row.venue %></td>
                        <td>
                            <% if(row.image[0]){ %>
                                <img src="../uploads/<%= row.image[0].filename %>" alt="profile image" width="80">
                            <% } %></td>
                        <td><%= row.date %></td>
                        <td>
                            <% if(row.image[1]){ %>
                                <img src="../uploads/<%= row.image[1].filename %>" alt="profile image" width="80">
                            <% } %>
                        </td>
                        <td><a class="btn btn-primary btn-xs" href="/admin/events/edit/<%= row._id %>"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete this item?');" href="/admin/events/delete/<%= row._id %>"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
            <% })}else{ %>
                <tr>
                    <td colspan="6">No Record Found</td>

                </tr>
            <% } %>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
