<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../layouts/head.ejs %>
</head>
<body>

<div id="wrapper">
    <!--Header Section Start Here -->
    <%- include ../layouts/Header.ejs %>
    <!-- Header Section End Here -->

    <!-- site content -->
    <div id="main">
        <!--Breadcrumb Section Start Here-->
        <div class="breadcrumb-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Causes</h1>
                        <ul class="breadcrumb">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li class="active">
                                Causes
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumb Section End Here-->
        <!-- cause page Start Here-->
        <div class="content-wrapper cause-page-section" id="page-info">
            <div class="container">
                <section class="our-story row anim-section">
                    <div class="col-xs-12">
                        <header class="page-header section-header top-spacer">
                            <h2>You can help lots of people by donating little. <strong>Our causes</strong></h2>
                        </header>

                        <!-- breadcrumb section -->
                        <div class="sec-breadcrumb text-center">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="#">Causes one</a>
                                </li>
                                <li>
                                    <a href="#">Causes Two</a>
                                </li>

                                <li class="active">
                                    <a href="#">Causes Three</a>
                                </li>
                                <li>
                                    <a href="#">Causes Four</a>
                                </li>
                            </ol>
                        </div>
                        <!-- breadcrumb section -->

                    </div>
                </section>

                <!-- Our Causes Section-->
                <section class="our-causes">
                    <div class="anim-section">
                        <div class="row">

                            <!-- Article Section Srart Here -->
                            <div class="article-list progressbar">

                                <div class="cols-xs-12 col-sm-4 anim-section">
                                    <div class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Help African children to get shelter</h3>
                                        <a href="causes-detail.ejs" class="img-thumb">
                                            <figure>
                                                <img src="../uploads/<%= data[0].image[0].filename %>" alt=""
                                                     width="600" height="400">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="72"
                                                 aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">72% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span
                                                    class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            Offer your support to provide abodes for African children. You can support a
                                            child with a donation, a legacy or by volunteering your time and skills.
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form"
                                           class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>
                                <div class="cols-xs-12 col-sm-4 anim-section">
                                    <div class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Help girls to get Education</h3>
                                        <a href="causes-detail-with-sidebar.ejs" class="img-thumb">
                                            <figure>
                                                <img src="../uploads/<%= data[1].image[0].filename %>" alt=""
                                                     width="600"
                                                     height="400">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">60% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span
                                                    class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            You can contribute fund to help African girls get education opportunities so
                                            that they can have a brighter future
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form"
                                           class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>
                                <div class="cols-xs-12 col-sm-4 anim-section">
                                    <div class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Help us to send Vegetables to Africa</h3>
                                        <a href="causes-detail-with-sidebar.ejs" class="img-thumb">
                                            <figure>
                                                <img src="../uploads/<%= data[2].image[0].filename %>" alt=""
                                                     width="600"
                                                     height="400">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="80"
                                                 aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">80% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span
                                                    class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            You can offer your support by sending vegetables that we can further send to
                                            these children in Africa
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form"
                                           class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>
                                <div class="cols-xs-12 col-sm-4 anim-section">
                                    <div class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Help Economic Opportunity</h3>
                                        <a href="causes-detail.ejs" class="img-thumb">
                                            <figure>
                                                <img src="../uploads/<%= data[2].image[0].filename %>" alt=""
                                                     width="600" height="400">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="72"
                                                 aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">72% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span
                                                    class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            We are eager to get economic support to secure children’s health and
                                            academic development
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form"
                                           class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>

                                <div class="cols-xs-12 col-sm-4 anim-section">
                                    <div class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Focusing on Forgotten Rural Community</h3>
                                        <a href="#" class="img-thumb">
                                            <figure>
                                                <img src="../uploads/<%= data[1].image[0].filename %>" alt=""
                                                     width="600"
                                                     height="400">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="72"
                                                 aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">72% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span
                                                    class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            You can help us re-bond the rural community that could help the children to
                                            learn the value of living together
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form"
                                           class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>
                                <div class="cols-xs-12 col-sm-4 anim-section">
                                    <div class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Help Tanzania Female Farmers</h3>
                                        <a href="#" class="img-thumb">
                                            <figure>
                                                <img src="../uploads/<%= data[0].image[0].filename %>" alt=""
                                                     width="600"
                                                     height="400">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="72"
                                                 aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">72% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span
                                                    class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            Let the female farmers in Tanzania fulfill their basic necessity of life
                                            from your donation
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form"
                                           class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>

                                <div class="cols-xs-12 col-sm-4 anim-section">
                                    <div class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Help African children to get shelter</h3>
                                        <a href="#" class="img-thumb">
                                            <figure>
                                                <img src="../uploads/<%= data[0].image[0].filename %>" alt=""
                                                     width="600"
                                                     height="400">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="72"
                                                 aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">72% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span
                                                    class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            Offer your support to provide abodes for African children. You can support a
                                            child with a donation, a legacy or by volunteering your time and skills.
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form"
                                           class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>
                                <div class="cols-xs-12 col-sm-4 anim-section">
                                    <div class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Help girls to get Education</h3>
                                        <a href="#" class="img-thumb">
                                            <figure>
                                                <img src="../uploads/<%= data[1].image[0].filename %>" alt=""
                                                     width="600"
                                                     height="400">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">60% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span
                                                    class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            You can contribute fund to help African girls get education opportunities so
                                            that they can have a brighter future
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form"
                                           class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>
                                <div class="cols-xs-12 col-sm-4 anim-section">
                                    <div class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Help us to send Vegetables to Africa</h3>
                                        <a href="#" class="img-thumb">
                                            <figure>
                                                <img src="../uploads/<%= data[2].image[0].filename %>" alt=""
                                                     width="600"
                                                     height="400">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="80"
                                                 aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">80% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span
                                                    class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            You can offer your support by sending vegetables that we can further send to
                                            these children in Africa
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form"
                                           class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>

                            </div>
                            <!-- Article Section Srart Here -->

                        </div>
                    </div>
                </section>
                <!-- Our Causes Section End-->

                <!--Pagination Section Start Here-->
                <div class="cols-xs-12 anim-section text-center">
                    <ul class="pagination">
                        <li>
                            <a href="#">Prev</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">Next</a>
                        </li>
                    </ul>

                </div>
                <!--Pagination Section End Here-->

            </div>

        </div>
        <!-- cause page Start End-->
    </div>
    <!-- site content ends -->
    <!--Footer Section Start Here -->
    <%- include ../layouts/Footer.ejs %>
    <!--Footer Section End Here -->
</div>

<!-- donation form popup -->
<%- include ../donation/DonationDialog.ejs %>
<!-- donation form popup -->
<!-- Scripts are here -->
<%- include ../layouts/scripts.ejs %>
</body>
</html>
